/* Element selector */
body{
    
    margin: 10px auto;
    background-color:lightcyan;
}
header
{
    background-color: lightskyblue;
    position: fixed;
    width: 100%;
    

}
/* Link style */
nav > ul > li{

    display: inline-block;
    padding: 10px 3px;
    font-size: 20px;
}
nav > ul > li > a{
    text-decoration: none;
}
.footer{

    text-align: center;
}
.footer > p{

    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
/* Contact */

.about
{

    flex: 4;
    margin: 50px 50px;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.main{

   
    display: flex;
    padding: 90px;
    margin: 30px 30px;
    border-bottom: 2px solid black;
}


.contactContainer{

   
    display: flex;
    padding: 25px;
    margin: 100px 100px;
    border-bottom: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
}
.profile > img
{

    height: 200px;
    width: 200px;
    border-radius: 50%;
    flex: 1;
   
}

.contactContainer > .form> #head{

    font-weight: normal;
    font-size: 1.5em;
}


#map{

    height: 500px;
    width: 400px;
    border-radius: 10%;
}

.input{

    height: 25px;
    width: 300px;
    border-radius: 6%;
}

#combobox{

    height: 25px;
    width: 70px;
}

#textarea{

    width: 400px;
    height: 200px;
    border: 1px solid black;
    border-radius: 3%;
}

#button{

    border-radius: 10%;
    width: 100px;
    height: 30px;
    font-weight: normal;
    font-size: 0.9em;
    background-color: cornsilk;
    position: relative;
}

.map{

    margin-left: 100px;
}

/* Index */
.main{

   
    display: flex;
    padding: 90px;
    margin: 30px 30px;
    border-bottom: 2px solid black;
}

.profile > img{

    height: 200px;
    width: 200px;
    border-radius: 50%;
    flex: 1;
   
}

.about{

    flex: 4;
    margin: 50px 50px;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.about > h1{

    font-weight: bold;
}

.body{

    padding: 25px;
    margin: 45px 102px;
    border-bottom: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;

}

.body > h3 {

    font-weight: bold;
    

}

.body >.HobbiesAndInterests> ul{

    list-style-type: circle;
    
      
}

.body >.hobbies> ul> li > ul{

    list-style-type: square;

}

.body > .experience > #header{

    font-weight: bold;
}

/* Gallery */
#Gheader{

    position: relative;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
    margin-top: 5%;
    margin-right: 100px;
    margin-left: 100px;
    text-transform: uppercase;
    border-bottom: 3px solid black;
}
.display{

    margin: 50px 70px;
    border-bottom: 3px solid black;
  
}
/* Blog */

#container{

    display: flex;
    border-bottom: 2px solid black;
    margin-left: auto;
    margin: 30px;
    
}
/* My work */

.mainbody
{

    margin: 100px 100px;    
    border-bottom: 2px solid black;
}

.mainbody > .questionlinks > a{

    text-transform: capitalize;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;   
    color:lightseagreen;
    text-decoration: none;
    
}




